.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.floating-button-container {
  background-color: "background.paper";
  position: "relative";
  /* min-height: 200; */
  width: 100% !important;
}

/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  height: 200px;
  width: ;
} */

.floating-button-container {
  display: flex;
  flex-direction: column;
  background-color: "background.paper";
  width: 600px;
  position: "relative";
  /* min-height: 200px; */
}

.tab-buttons {
  flex: 1;
  display: flex;
}

.tab-button {
  flex: 1;
  max-width: none !important;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Два столбца с равными долями ширины */
  gap: 16px; /* Расстояние между элементами */
  padding: 16px; /* Отступ вокруг формы */
}

.label {
  text-align: right;
  font-size: 20px;
}

.input-field {
  width: 50%;
}

.b-button {
  width: 25%;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 0.5%;
  display: block;
}

.b-button:hover {
  background-color: #2980b9;
}

.b-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-line {
  display: inline-flex;
}

.input-height {
  height: 25vh;
}

/* Popup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Полупрозрачный фон для затемнения остального контента */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
